<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
</head>

<body>

    <header>
        <nav>
            <div class="nav-upper-container">
                <div>
                    <a href="/"><img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo"></a>
                    <form class="search" action="/search">
                        <input type="text" placeholder="Busca productos, marcas">
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                <span><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</span>
            </div>

            <div class="nav-lower-container">
                <ul class="nav-buttons" id="left-buttons">
                    <li>Ofertas</li>
                    <li>Tiendas Oficiales</li>
                    <li>Vender</li>
                    <li>Ayuda</li>
                </ul>
                <ul class="nav-buttons" id="right-buttons">
                    <li><a href="register.html">Crea tu cuenta</a><i class="fa-regular fa-address-card"></i></li>
                    <li><a href="login.html">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                    <li><a>Mis Compras</a><i class="fa-solid fa-basket-shopping"></i></li>
                </ul>
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <section class="productos">
            <h2>Basado en tu ultima visita</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                <div class="article-info">
                    <i class="fa-solid fa-truck circle"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <p class="descripcion">Cafetera Moulinex</p>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="macbook">
                <div class="article-info">
                    <i class="fa-solid fa-truck circle"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    <p class="descripcion">MacBook Pro 2019</p>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="celular">
                <div class="article-info">
                    <i class="fa-solid fa-truck circle"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    <p class="descripcion">Samsung Galaxy S10</p>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="smartv">
                <div class="article-info">
                    <i class="fa-solid fa-truck circle"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                    <p class="descripcion">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
        <section class="productos">
            <h2>Basado en tu ultima visita</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                <div class="article-info">
                    <i class="fa-solid fa-truck circle"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <p class="descripcion">Cafetera Moulinex</p>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="macbook">
                <div class="article-info">
                    <i class="fa-solid fa-truck circle"></i>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    <p class="descripcion">MacBook Pro 2019</p>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="celular">
                <div class="article-info">
                    <i class="fa-solid fa-truck circle"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    <p class="descripcion">Samsung Galaxy S10</p>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="smartv">
                <div class="article-info">
                    <i class="fa-solid fa-truck circle"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                    <p class="descripcion">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
    </main>

    <footer>
        <section>
            <article>
                <i class="fa-solid fa-credit-card fa-2xl"></i>
                <h4>Paga con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article>
                <i class="fa-solid fa-gift fa-2xl"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article>
                <i class="fa-solid fa-user-shield fa-2xl"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
            <h6>Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
        </section>
    </footer>
</body>

</html>